[submodule "thirdparty/function2"]
	path = thirdparty/function2
	url = https://github.com/Naios/function2.git
[submodule "thirdparty/VulkanMemoryAllocator"]
	path = thirdparty/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = git@github.com:nothings/stb.git
